image/
__pycache__
**/build/
**/*.egg-info/
**/dist/
*.so
exp
weights
data
log
outputs/
.vscode
.idea
*/.DS_Store
**/*.out
.cache
result
_poetry.lock
**/.ipynb_checkpoints
notebooks/*.pth
notebooks/output_voxels
wheels_container
.env

